*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/codeStyles
/.idea/caches
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/encodings.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator
.DS_Store
/build
/captures
.externalNativeBuild
